@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');
/* ----- common elements ----- */

html {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: rgba(48, 69, 92, 0.8);
}

body {
  min-height: 0;
  background-color: #fefffa;
}
h1, h2 {
  color: #ff6873;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
}
h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
}
.h2-alt {
  color: #101F36;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 32px auto;
}
#classes h3 {
  padding-left: 1em;
}
h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0 16px 16px;
}
a {
  text-decoration: none;
  color: #5595E0;
}
a:hover {
  color: #ff6873;
}
a:visited {
  color: #294972;
}
.topContainer {
  width: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}
.subContainer {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: space-around;
}
.subOne {
  width: 58%;
  padding: 0;
}
.subTwo {
  width: 38%;
}
.flex {
  display: flex;
  justify-content: center;
}


/* ----- header, nav ----- */

.svg-image {
  height: 40px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: fixed;
  background-color: #fefffa;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 0 0 #ff6873 inset;
  margin-top: 0;
}
nav, nav ul, #logo {
  display: flex;
}
nav ul li {
  padding: 10px 8px 0;
}
nav ul li:last-child {
  padding-right: 16px;
}
#logo {
  padding-top: 16px;
}
.mobile {
  display: none;
}

/* ----- banner ----- */
#banner {
  padding: 64px 0 0;
  width: 100%;
  background: #fefffa;
} 
#banner img, #campus img  {
  max-width: 1000px;
  width: 100%;
  height: auto;
}
.desktopImg {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 800px;
  position: relative;
}
.desktopImg__inside {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  background: rgba(254, 255, 250, .7);
  padding: 16px;
  /* transform: translate(4%, -20%) */
  margin: 0 auto;
  width: 65%;
}
.desktopImg__inside p {
  text-align: center;
}
.desktopImg_padding {
  padding-top: 25%;
}
.mobileImg {
  display: none;
}
button {
  padding: 8px;
  width: 80%;
  margin: 16px auto 0;
  background: #294972;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-size: 1.15rem;
  font-weight: 300;
  transition: background 550ms ease;
  letter-spacing: .125rem;
}
button:hover {
  background: #101F36;
  cursor: pointer;
}
button:active {
  border: none;
  box-shadow: none;
}

/* ----- Accordion CSS ----- */
/* accordion code from this Codepen: https://codepen.io/abergin/full/ihlDf/ */

.accordion {
  margin: 0 auto;
  width: 75%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.accordion input[name='panel'] {
  display: none;
}
.accordion label {
  position: relative;
  display: block;
  padding: 1em;
  border-top: 1px solid #ff6873;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 #ff6873;
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #666;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion label:after {
  content: '+';
  line-height: .8em;
  position: absolute;
  right: 1em;
  width: 1em;
  height: 1em;
  color: #eee;
  text-align: center;
  border-radius: 50%;
  background: #ff6873;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
.accordion label:hover {
  color: #ff6873;
}
.accordion input:checked + label {
  color: #ff6873;
}
.accordion input:checked + label:after {
  content: '-';
  /* adjsut line-height to vertically center icon */
  line-height: .8em; 
}
.accordion .accordion__content {
  overflow: hidden;
  max-height: 0em;
  position: relative;
  padding: 0 1.5em;
  box-shadow: inset 4px 0 0 0 #ff6873, inset 0 3px 6px rgba(0, 0, 0, 0.75);
  background: #444;
  background: linear-gradient(to bottom, #444444 0%, #222222 100%);
  color: #eee;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion .accordion__content:not(:last-of-type) {
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 #ff6873, inset 0 3px 6px rgba(0, 0, 0, 0.75);
}
.accordion .accordion__content .accordion__header {
  padding: 1em 0;
}
.accordion .accordion__content .accordion__body {
  font-size: .825em;
  line-height: 1.4em;
  padding: 0 0 1.5em;
}

input[name='panel']:checked ~ .accordion__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
}
#campus picture, #campus img
#classes picture, #classes img {
    height: auto;
    width: 100%;
    max-width: 400px;
}
.accordion img {
  padding-bottom: 16px;
}

/* ----- Text over image CSS ----- */
/* Text over image CSS code modeled after this Codepen: https://codepen.io/zFunx/pen/QvzeBN */
.textOverImage p {
  color: #333;
}
.testing {
  margin: 0 auto;
}
.textOverImage a {
  float: right;
}
.textOverImage{
    width:100%;
    display:inline-block;
    background-size:cover;
    border-radius:4px;
    margin: 4px;
    position:relative;
    cursor:pointer;
    overflow:hidden;
  }
  
  .textOverImage > input{
    display:none;
  }
  
  .textOverImage > div,.textOverImage > h2{
    position:absolute;
    background: #444; /* fallback */    
    background-color:rgba(255,255,255,0.8); 
    bottom:20px;
    left:4px;
    right:4px;
    border-radius:4px;
    padding:8px;
    overflow:hidden;
    opacity:0;
    transition:850ms;
    margin: 0 4px;
  }
  /* .textOverImage:hover > h2, */.textOverImage > input:checked + h2 + div{
    bottom:7px;
    opacity:1;
  }
  
  .textOverImage > input:checked + h2{
    bottom:-20px;
    opacity:0;
  }
  
  .textOverImage > h2{
    margin: 0 4px;
    opacity: 1;
    bottom: 7px;
    font-weight: 500;
  }

  /* These images will be for desktop only */
  .infoMain {
    background:url(../images/information-main.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top:64px;
  }
  .infoOrientation {
    background: url(../images/information-orientation-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
  }
  .infoCampus {
    background: url(../images/information-campus-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
  }
  .infoLecture {
    background: url(../images/information-guest-lecture-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
  }
  .infoFisma {
    background: url(../images/thesis-fisma.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 225px;
    width: 100%
  }
  .infoNewYork {
    background: url(../images/thesis-now-and-then.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 225px;
    width: 100%
  }
  .tabletMobile {
    display: none;
  }

/* Thesis section */
#thesis.container {
  flex-direction: column;
}
#thesis.subContainer {
  padding: 24px;
}
#thesis .flex {
  flex-direction: column;
  max-width: 60%;
}
#thesis p, #thesis blockquote {
  padding: 0 0 16px 16px;
}
#thesis .image {
  /*padding: 16px 0 16px 16px; */
}
#thesis img {
  width: 100%;
  height: auto;
  padding: 16px 0 16px 16px
}
.col-1 {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.col-2 {
  display: flex;
  flex-direction: column;
  width: 38%;
}
.col-2 .image {
  width: 35%;
  height: auto;
}
.row {
  display: flex;
}
video {
  width:100%;
}

/* footer section */

footer {
  border-top: 2px solid #eee;
  margin: 24px 5px 0;
  height: 75px;
  padding: 50px 0 0;
}
.flex-foot {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}
.links a {
  padding: 0 10px;
}


/* Media Queries */

@media only screen and (max-width: 959px) {
  .menu, header h2 {
    display: none;
  }
  .mobile {
    display: initial;
  }
  .svg-image {
    height: 56px;
  }
  nav, nav ul {
    width: 100%;
    flex-grow: 1;
    flex-basis: 75%;
    justify-content: space-between;
  }
  nav ul li, #logo {
    padding-top: 20px;
  }
  #logo {
    flex-basis: 25%;
    padding-left: 16px;
  }
  .svg-hov {
    fill: #0B1D35;
    transition: fill 450ms ease; 
  }
  .svg-hov:hover, .svg-hov:target {
    fill: #ff6873;
  }
  .desktopImg {
    height: 400px;
  }
  .desktopImg__inside {
    transform: translate(0%, 0%);
    width: 100%;
    padding: 0;
  }
  .desktopImg__inside a {
    text-decoration: none;
  }
  .desktopImg_padding {
    padding-top: 26%;
  }
  #banner h1 {
    font-size: 1.7rem;
    padding: 8px 0 0 16px;
  }
  #banner p {
    padding: 0 0 0 16px;;
  }
  button {
    margin: 24px auto;
  }
}
@media only screen and (max-width: 768px) {
  .textOverImage {
    display: none;
  }
  .tabletMobile {
    display: initial;
  }
  .tabletMobile img {
    border-top: 6px #ff6873 solid;
  }
  .subContainer {
    flex-wrap: wrap;
    width: 86%;
    margin: 0 auto;
  }
  .subContainer div:nth-child(4) {
    margin-top: 25px;
  }
  .subContainer h2 {
    margin: 12px 8px 0;
  }
  .subContainer p, .subContainer a {
    margin: 6px 8px 8px 16px;
    padding: 8px 0;
  }
  .desktopImg_padding {
    padding-top: 30%;
  }
  .col-1 {
    width: 100%;
  }
  .col-1 blockquote, .col-1 h4 {
    display: none;
  }
  .tabletMobile p {
    width: 80%;
  }
  .accordion {
    margin: 20px auto;
  }
  .infoBox {
    border-left:6px #ff6873 solid;
    border-right:6px #ff6873 solid;
    border-bottom:6px #ff6873 solid;
    padding-bottom: 12px;
  }
  footer {
    height: 50px;
    padding: 30px 0 0;
  }
  .links {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .subContainer {
    width: 85%;
  }
  .infoMain {
    max-height: 320px;
  }
  .desktopImg_padding {
    padding-top: 35%;
  }
}
@media only screen and (max-width: 440px) {
  .subContainer h2 {
    color: #fefffa;
    background-color: #ff6873;
    padding: 8px;
    margin: 0;
  }
  .subContainer, .accordion {
    width: 100%;
  }
  .infoMain {
    max-height: 220px
  }
  .infoBox {
    border-left: none;
    border-right: none;
  }
  .tabletLecture .infoBox {
    border-bottom: none;
  }
  .desktopImg {
    height: 375px;
  }
  .desktopImg__inside {
    text-align: center;
    padding-bottom: 20px;
  }
  .desktopImg_padding {
    padding-top: 50%;
  }
  button {
    margin: 12px auto 4px;
  }
  #banner h1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  footer {
    border-top: none;
    margin: 0 4px 0;
    height: 40px;
    padding: 8px 0 0;
  }
  .copy {
    font-size: .9rem;
  }
}

